.App {
  background-color: #dfd3cf; /* Altere para a cor desejada */
  font-family: 'Bodoni', serif;
  text-align: center;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
      animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #674f5f;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}

/* Estilo para o conteúdo principal */
.main-content {
  padding-bottom: 80px; /* Garante que o conteúdo não seja coberto pelo footer fixo */
}
